sample/
asterixdb/target
asterixdb/.classpath
asterixdb/.settings
asterixdb/.project
asterixdb/ClusterControllerService
asterixdb/asterix-app/rttest
asterixdb/asterix-app/mdtest/
asterixdb/asterix-app/opttest/
asterixdb/asterix-installer/ittest/
asterixdb/build
asterixdb/asterix_logs
asterixdb/bin/
hyracks/target
hyracks/.classpath
hyracks/.settings
hyracks/.project
hyracks/ClusterControllerService
hyracks/actual
hyracks/build
hyracks/edu.uci.ics.hyracks.control.nc.NodeControllerService
hyracks/exception
hyracks/expected
hyracks/teststore1
hyracks/teststore2
hyracks/dev1
hyracks/dev2
hyracks/dev3
hyracks/dev4
hyracks/derby.log
hyracks/hadoop-conf-tmp
hyracks/metastore_db
hyracks/teststore
hyracks/output
hyracks/tmp
hyracks/dist
